# Read environment
python-dotenv

# FastAPI
fastapi
uvicorn
pydantic[email]
python-multipart

# MongoDB
pymongo

# Password Hashing
pwdlib[argon2]

# JWT
pyjwt

# Testing
pytest
pytest-asyncio
httpx
mongomock-motor
